
.pytest_cache/
.mypy_cache/
.ruff_cache/


# Python cache 
__pycache__/ 
*.py[cod] 

# Virtual environment 
.venv/ 
venv/ 
env/ 

# VS Code 
.vscode/ 

# Jupyter 
.ipynb_checkpoints/

# OS files 
.DS_Store 
Thumbs.db 

# Environment files 
.env 