# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# 媛?곹솚寃?
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# 諛고룷/鍮뚮뱶
*.egg-info/
dist/
build/
*.egg

# ?뺤텞?뚯씪
*.zip
*.tar.gz
*.rar

# ?섍꼍?ㅼ젙
.env
.env.*

# OS 愿??
.DS_Store
Thumbs.db
desktop.ini

# pytest
.pytest_cache/

# study
.study
