# requirements.txt

# 원래 설치방법
# pip install streamlit, pandas, matplotlib, numpy, philow, scikit-learn

# 버전 뒤에 숫자 안적으면 무조건 최신버전 받음
# 설치할 외부 모듈(라이브러리) 목록
#----------------------------------------------------------------
#|  모듈이름  |   모듈이름>=버전숫자   |  모듈이름==버전숫자    |
#+--------------------------------------------------------------+
#|  최신버전  |   해당 버전 이상 설치  |  정확히 해당 버전 설치 |
#----------------------------------------------------------------
# 팀 프로젝트에서 다른 팀원들도 동일한 모듈을 설치해야 한다면, 이 파일을 제공함
# pip install -r requirements.txt


streamlit >= 1.50.0
pandas
matplotlib == 3.10.9
numpy
pillow
scikit-learn